
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/login.css" />
    <h1>Login</h1 >
    <form class="login-form">
        <div class="container">
            <hr>

            <laber for="username"> <b> Username</b> </laber>
            <input type="text" placeholder="Username" name="user" required>

            <label for="pw"> <b> Password</b> </label>
            <input type="password" placeholder="Password" name="pw" required>

            <hr>
            <button type="submit" class="login-button" asp-controller="home"> Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
        <div class="container register">
            <p>Don't have an account yet? <a asp-controller="home" asp-action="register">Sign Up</a>.</p>
        </div>
    </form>

