
@{
    ViewData["Title"] = "Profile";
}
@model LoginViewModel
@if (Model == null)
{
    <p>You must be logged in to view your profile</p>
}
else
{
    <h1>Profile</h1>
    <div class="profile-card">

    </div>
}
