
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/register.css" />
<h1>Account Registration</h1>
<form class="registration-form">
    <div class="container">
        <hr>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <laber for="username"><b>Username</b></laber>
        <input type="text" placeholder="Enter Username" name="user" required>

        <label for="pw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pw" required>

        <label for="pw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="pw-repeat" required>
        <hr>

        <p>By creating an account you agree to our <a asp-area="" asp-controller="home" asp-action="privacy">Terms & Privacy</a>.</p>
        <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a asp-controller="home" asp-action="login">Sign in</a>.</p>
    </div>
</form>

