
@{
    ViewData["Title"] = "Currency";
}
    <link rel="stylesheet" href="~/css/modules.css" />
<h1>Currency</h1>
<button class="accordion">Show Commands</button>
<div class="panel">
    <div class="row">
        <div class="column">
            <div class="card">
                Balance
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="card">
                Dicerole
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="card">
                Roulette
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="card">
                Spawncash
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>

<button class="accordion">Audit Logs</button>
<div class="panel">
    <p>show changes made through the dashboard</p>
</div>

