
@{
    ViewData["Title"] = "Information";
}

    <link rel="stylesheet" href="~/css/modules.css" />
<h1>Information</h1>
<button class="accordion">Show Commands</button>
<div class="panel">
    <div class="row">
        <div class="column">
            <div class="card">
                Botinfo
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="card">
                Serverinfo
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="card">
                Userinfo
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="card">
                Roleinfo
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="card">
                Help
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>

<button class="accordion">Audit Logs</button>
<div class="panel">
    <p>show changes made through the dashboard</p>
</div>

