
@{
    ViewData["Title"] = "Moderation";
}
    <link rel="stylesheet" href="~/css/modules.css" />

<h1>Moderation</h1>
<button class="accordion">Show Commands</button>
<div class="panel">
    <div class="row">
        <div class="column">
            <div class="card">
                Ban
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="card">
                Unban
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="card">
                Kick
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="card">
                Mute
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="card">
                Unmute
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="card">
                Lock
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="card">
                Giverole
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="column">
            <div class="card">
                Purge
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>

<button class="accordion">Audit Logs</button>
<div class="panel">
    <p>show changes made through the dashboard</p>
</div>





